body {
    background-color: rgb(97, 229, 97);
}

div {
    align-items: center;
    background: rgb(255, 255, 255);
    width: 20%;
    border: 15px solid rgb(250, 250, 250);
    padding: 50px;
    margin-top: 40px;
    margin-left:150px;
    border-radius: 8px;
}

button {
    border: 0cm;
    color: rgb(255, 255, 255);
    background: rgb(97, 229, 97);
    width: 175px;
    border-radius: 4px;
}
button:hover {
    background-color: #4CAF50; 
    color: white;
}
h6{
    color: black;
    text-align: center;
}
h5{
    text-align: center;
    color:#4CAF50
}